<div class="container pt-4">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <img [src]="urlImagen" alt="img clima" width="200px" height="200px">
        </div>
        <div class="col-lg-6">
            <input type="text" 
            [(ngModel)]="ciudad"
            class="form-control form-control-lg size" 
            placeholder="Ingrese ciudad">
            <button class="btn btn-lg btn-primary mt-4" type="button"
            (click)="obtenerClima()" 
            [disabled]= "ciudad == ''">Obtener Clima</button>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <p><b>Temperatura:</b> 27</p>
                <p><b>Humedad:</b> 27</p>
                <p><b>Temperatura:</b> 27</p> 
            </div>
        </div>
    </div>
</div>
